.details {
    display: flex;
    flex-direction: column;
}

.details__main-text {
    font-family: Source Sans Pro,  Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;
    border-bottom: 1px solid #E1FD2C;
    padding: 18px 20px 18px 20px;
}

.details__highlight {
    font-weight: 400;
}

.details__list {
    border-bottom: 1px solid #E1FD2C; 
    font-family: Source Sans Pro, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    padding: 0 0 20px 20px;
}

.details__list-header {
    font-family: Source Sans Pro, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    padding: 20px 20px 40px 0;
} 

.details__list-item {
    font-family: Source Sans Pro, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;    
}
.details__list-item:nth-child(n+2) {
    margin-top: 6px;
}