@font-face {
    src: 
    url('../vendor/fonts/sourcesanspro.woff2') format('woff2'),
    url('../vendor/fonts/sourcesanspro.woff') format('woff');
    font-family: 'Source Sans Pro'; 
    font-weight: 400;
}

@font-face {
    src: 
    url('../vendor/fonts/sourcesansprolight.woff2') format('woff2'),
    url('../vendor/fonts/sourcesansprolight.woff') format('woff');
    font-family: 'Source Sans Pro'; 
    font-weight: 300;
}