.footer {

    display: flex;
    flex-direction: column;

    &__subscription-header {
        margin: 20px 0 0 20px;
        font-family: $font-family;
        font-style: normal;
        font-weight: normal;
        font-size: 26px;
        line-height: 26px;
    }

    &__caption {
        margin: 14px 0 0 20px;
        font-family: $font-family;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 14px;
    }

    &__subscribe {
        margin: 60px 20px 0 20px;
    }

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 120px 20px 0 20px;
    }

    &__logo-image {
        width: 280px;
        height: 58px;
    }

    &__copyright {
        margin: 20px 0 20px 32px;
        font-family: $font-family;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 13px;
        letter-spacing: 1px;
    }
}

.subscribe {
    width: calc(100% - 40px);
    display: grid;
    grid-template-columns: 50% 21% 29%;
    grid-template-rows: 31px 31px;
    grid-template-areas: 
    "name surname surname"
    "email email submit";
    
    &__input {
        padding: 7px 0 7px 11px;
        background-color: $color-main;
        font-family: $font-family;
        font-style: normal;
        font-weight: normal;
        font-size: 9px;
        line-height: 18px;
        letter-spacing: 1px;
        text-transform: uppercase;
        border: 1px solid $color-secondary;
        color: $color-secondary;
        box-sizing: border-box;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-secondary;
        border: none;
        color: $color-main;
        font-family: $font-family;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 13px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    
    &__name {
        grid-area: name;
    }

    &__surname {
        grid-area: surname;
    }

    &__email {
        grid-area: email;
    }

    &__submit {
        grid-area: submit;
    }

}


