.gallery {
    border-bottom: 1px solid #E1FD2C;
    padding-bottom: 20px;
}

.gallery__slide {
    width: 80%;
    padding: 20px 20px 50px 20px;
}

.gallery__slider-image {
    width: 280px;
    height: 204px;
}
.gallery__swiper-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gallery__swiper-left {
    width: 24px;
    height: 20px;
    object-fit: fill;
}
.gallery__swiper-right {
    margin: 0 23px 0 16px;
    width: 24px;
    height: 20px;
    object-fit: fill;
}
.gallery__arrows {
    display: flex;
    flex-direction: row;
}

.gallery__header {
    font-family: Source Sans Pro, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 26px;
    margin: 0 0 0 20px;
}