.swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    background-color:  $color-main;
    border-radius: 50%;
    border: 1px solid $color-secondary;
}

.swiper-pagination-bullet-active {
    background-color: $color-secondary;
}