@import "_reset";
@import "_variables";
@import "_fonts";
@import "_header";
@import "_new-van";
@import "_details";
@import "_gallery";
@import "_press";
@import "_footer";

.page {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background: $color-main;
    width: 100%;
    height: 100%;
    color: $color-secondary;
    min-width: 0;
}

.main {
    flex: 1 1 auto;
    min-width: 0;
}

